# JWT Configuration
JWT_SECRET=CAMBIAR_POR_UN_STRING_HEXADECIMAL_LARGO
JWT_ACCESS_EXPIRATION=3600s
JWT_REFRESH_EXPIRATION=604800s

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=CAMBIAR_POR_TU_PASSWORD
DB_DATABASE=siit_bd

# Garage / Blob Storage
GARAGE_ENDPOINT=http://localhost:3900
GARAGE_REGION=garage
GARAGE_ACCESS_KEY_ID=CAMBIAR_POR_KEY_ID_DE_GARAGE
GARAGE_SECRET_ACCESS_KEY=CAMBIAR_POR_SECRET_KEY_DE_GARAGE
GARAGE_BUCKET_SERVICIO_SOCIAL=documentos-ss
GARAGE_BUCKET_RESIDENCIAS=documentos-rp